<h1>Add New Question</h1>
<%= form_for :question, url: questions_path do |form| %>
    <div class="commentStyle">
    <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.submit :Submit,:class => 'btn btn-default' %>
    </p>
     </div>
<% end %>