<p> <%= @question.comments.count %> <u>Comments</u></p>
 <% @question.comments.each do |comment| %>
     <div class="commentStyle">

         <%= comment.body %>

         </br>  
         </br> 
         Posted by <strong><%= link_to comment.user.name, comment.user %></strong> at <%= comment.user.created_at.strftime("%Y-%m-%d  %H:%M") %>
         <%= link_to 'Delete', [comment.question,comment], method: :delete, data: { confirm: 'Are you sure?'} %>
        
     </div>
 <%end%> 
